/* MAIN
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, 
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, 
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, 
details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, 
summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}*/

html {
    box-sizing: border-box;
    display: block;
}

.container {
    margin: 0 auto;
    max-width: calc(100% - 50px);
    width: 1200px;
}

ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

/* Nav */
#nav {
    background-color: rgb(233, 177, 138);
    position: absolute;
    display: block;
    width: 50%;
    text-align: center;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

#nav li{
    display: inline-block;
    padding: 0 1.5em 0 1.5em;
    white-space: nowrap;
    vertical-align: baseline;
}

#home {
    margin: auto;
    text-align: left;
    display: flexbox;
    padding: 4em 0;
}

.image {
    position: relative;
}

.image.fit {
    display: block;
}

#home .image {
    border-radius: 100%;
    width: 200;
    height: 150;
}

.wrapper {
    box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05),
    inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
}

.wrapper.style1 {
    background-image: none;
    background-color: blanchedalmond;
}

.wrapper.style2 {
    background-color: antiquewhite;
    text-shadow: 1px 1px 0px #434343;
}

.wrapper.style3 {
    background-color: blanchedalmond;
    text-shadow: 1px 1px 0px #434343;
}

.wrapper.style4 {
    background-color: antiquewhite;
    color: gray;
    text-shadow: -1px -1px 0px #434343;
}