/* MAIN */
html, body, div, span, h1, h2, h3, h4, h5, h6, 
p, a, ul, li, form, label, article, footer, header, nav {
    vertical-align: baseline;
}

html {
    box-sizing: border-box;
    display: inline-block;
}

body {
    -webkit-text-size-adjust: none;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: "Verdana", sans-serif;
}

h1 {
    margin: 15px 0;
    font-size: x-large;
    font-weight: 300;
}

ul {
    display: flex;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
    flex-direction: row;
}

ul li {
    padding-left: 0.5em;
}

article {
    margin-top: 0;
    margin-bottom: 0;
}

li {
    padding: 0 20px;
    height: 100%;
    display: flex;
}

a {
    color: #e55b5b;
    text-decoration: none;
    padding: 10px 5px;
}


*, *:before, *:after {
    box-sizing: inherit;
    margin: auto;
}

/* NAV */

#nav li:before {
    content: "";
    position: absolute;
    height: 33.33%;
    width: 0;
    background-color: rgb(228, 195, 171);
    right: 0;
    z-index: 0;
    top: 33.33%;
    transition: all 0.5s;
}

#nav li:after {
    content: "";
    position: absolute;
    height: 33.33%;
    width: 0;
    background-color: rgb(228, 195, 171);
    left: 0;
    z-index: 0;
    bottom: 0;
    transition: all 0.5s;
}

#nav li:hover:before,
#nav li:hover:after,
#nav li:hover a:before{
    width: 100%;
    z-index: -1;
}

#nav a:before {
    position:absolute;
    content: "";
    height: 33.33%;
    width: 0;
    background-color: rgb(228, 195, 171);
    bottom: 66.66%;
    left: 0;
    transition: all 0.5s;
    z-index: 0;
}

#nav {
    position: absolute;
    display: block;
    width: 50%;
    text-align: center;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    font-weight: 600;
    text-transform: uppercase;
    cursor: default;
    font-family: 'Lucida Console', Courier, monospace;
    line-height: 2.5em;
}

#nav li{
    display: inline-block;
    padding: 0 1.5em 0 1.5em;
    white-space: nowrap;
    vertical-align: baseline;
    position: relative;
    font-size: larger;
}

#nav a {
    color: rgb(62, 38, 22);
    text-shadow: 3px 3px 2px rgb(181, 140, 108, 0.5);
}

/* HOME */

#home {
    margin: auto;
    margin-bottom: 0;
    text-align: center;
    padding: 5em 4em;
}

#home p {
    margin: 15px 0;
    padding: 0;
    font-size: large;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(176, 153, 137);
}

.button {
    box-shadow: inset 0 0 0 2px #e55b5b;
    padding: 1em 2em;
    border-radius: 0.375em;
    letter-spacing: 0.050em;
    line-height: 3.5em;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
    display: inline;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    font-size: 0.75em;
    border: 0;
    font-weight: 800;
    text-shadow: none;
}

/* IMAGE */
#home .image img {
    border-radius: 100%;
}

.image {
    position: relative;
}

.image img {
    display: block;
    width: 100%;
}

.image.fit {
    display: block;
}

.div {
    display: block;
}

.row > .col-4 {
    width: 33%;
}

#home .image {
    border-radius: 100%;
    width: 200;
    height: 150;
}

#profile {
    width: 200px;
    height: 200px;
    display: inline;
    position: relative;
}

/* SKILLS */

#skills h2{
    text-align: center;
    margin-bottom: 7px;
}

#skills header p{
    margin-top: 5px;
    text-align: center;
    color: rgb(176, 153, 137);
}

#skills h3 {
    text-align: left;
    margin: auto -10em;
}

#skills p{
    margin-top: 5px;
    text-align: left;
    margin: auto -10em;
    color: rgb(176, 153, 137);
}

#skills .skilllist{
    margin-bottom: 3rem;
}

/* WRAPPERS / CONTAINERS */
.wrapper {
    box-shadow: 0px -3px 5px #dddcdc;
    color: rgb(62, 38, 22);
    text-shadow: 1px 1px 0px #a19c9c;
}

@media screen and (max-width: 1280p){
    .wrapper {
        padding: 5em 0 5em 0;
        text-align: center;
    }
}

.wrapper.style1 {
    background-image: none;
    background-color: rgb(251, 249, 247);
}

.wrapper.style2 {
    background-color: rgb(248, 245, 242);
    margin: auto;
    padding: 3em 0;
}

.wrapper.style3 {
    background-color: rgb(251, 249, 247);
    padding: 3em 0;
}

.wrapper.style4 {
    background-color: rgb(246, 242, 237);
    padding: 3em 0 5em 0;
    align-items: center;
}

.container {
    margin: 0 auto;
    max-width: calc(100% - 50px);
    width: 1200px;
}

/* COLS */

@media screen and (max-width: 980px) {
.row > .col-12-medium {
    width: 100%;
    }
}

@media screen and (max-width: 1280px){
.row > .col-7-large {
    width: 58.33333%;
    }
}

.row > .col-8 {
    width: 66.66667%;
}