/* MAIN
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, 
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, 
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, 
details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, 
summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}*/

.container {
    margin: 0 auto;
    max-width: calc(100% - 50);
    width: 1200px;
}

ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

/* Nav */
#nav {
    background-color: gray;
    position: fixed;
    display: block;
    width: 50%;
    text-align: center;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: inset 0px 0px 1px 1px rgb(54, 54, 54);
}

#nav li{
    display: inline-block;
    padding: 0 1.5em 0 1.5em;
}

