/* MAIN */
html, body, div, span, h1, h2, h3, h4, h5, h6, 
p, a, ul, li, form, label, article, footer, header, nav {
    vertical-align: baseline;
}

html {
    box-sizing: border-box;
    display: block;
}

ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

/* NAV / HOME */
#nav {
    background-color: rgb(233, 177, 138);
    position: absolute;
    display: block;
    width: 50%;
    text-align: center;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

#nav li{
    display: inline-block;
    padding: 0 1.5em 0 1.5em;
    white-space: nowrap;
    vertical-align: baseline;
}

#home {
    margin: auto;
    text-align: center;
    display: flexbox;
    padding: 4em 0;
}

/* IMAGE */
#home .image img {
    border-radius: 100%;
}

.image {
    position: relative;
}

.image img {
    display: block;
    width: 100%;
}

.image.fit {
    display: block;
}

.div {
    display: block;
}

.row > .col-4 {
    width: 33%;
}

#home .image {
    border-radius: 100%;
    width: 200;
    height: 150;
}

#profile {
    width: 200px;
    height: 200px;
    display: inline;
    position: relative;
}

/* WRAPPERS / CONTAINERS */
.wrapper {
    box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05),
    inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
}

.wrapper.style1 {
    background-image: none;
    background-color: blanchedalmond;
}

.wrapper.style2 {
    background-color: antiquewhite;
    text-shadow: 1px 1px 0px #434343;
}

.wrapper.style3 {
    background-color: blanchedalmond;
    text-shadow: 1px 1px 0px #434343;
}

.wrapper.style4 {
    background-color: antiquewhite;
    color: gray;
    text-shadow: -1px -1px 0px #434343;
}

.container {
    margin: 0 auto;
    max-width: calc(100% - 50px);
    width: 1200px;
}